@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@layer base {
  
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 18rem;
  
}

.content-div:hover {
  background-image: linear-gradient(to right, #6b7280, #3f3f46) !important;
  transition-delay: 0.25s;
}


.content-div1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    
  }
  
  .content-div1:hover {
    background-image: linear-gradient(to right, #6b7280, #3f3f46) !important;
    transition-delay: 0.25s;
  }
  
  